
/*TO GET RID OF WHITESPACE ON THE BODY*/
html,body {
	font-family: 'Playfair Display', serif;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}
nav {
	background: #F6F7F9;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin:0 auto;
	padding: 1.3em 0 1.3em;
	overflow: hidden;
	top: 0;
	left: 0;
}
nav a {
	text-decoration: none;
	color: #241F1F;
	font-weight: 500;
}
nav a:hover {
	text-decoration: underline;
}
nav li {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
	text-transform: uppercase;
}
header ul{
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	flex-wrap: wrap;
}
footer {
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}
footer p {
	margin-top: 0.5em;
}
input::placeholder {
	font-family: 'Noto Serif', serif;
	font-style: italic;
	text-align: left;
	vertical-align: bottom;
}
input[type=email] {
    height: auto;
    border: 2px solid #FFFFFF;
    font-size: 19px;
    padding: 10px;
    margin-right: 3px;
}
button {
    background: #F60000;
    height: auto;
    border: 0;
    color: #FFFFFF;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 1em;
}
button:hover {
	text-decoration: underline;
}
.logo {
	font-size: 2em;                            /* 32/16 */
	font-weight: bold;
	padding-top: 7px;
}
.hero {
    height: 50em;
    background-image: url(./assets/image-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 11.8em;
    padding-left: 8.8em;
}
.rectangle {
    background-color: #F6F7F9;
    width: 36%;
    padding: 4.5em 4.2em;
    line-height: 2.3em;
}
.rectangle h1 {
    font-size: 2.8em;
    margin: 0;
}
.rectangle p {
    font-size: 1.4em;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}
.carousel-image {
    background-image: url(./assets/image-2.jpg);
    width: 60%;
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
}
.foot {
	background: #241F1F;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    padding: 0 10vw;
    border-top: 2px solid #0D0D0D;
    border-bottom: 2px solid #444444;
}
.foot h4 {
    margin-bottom: 1.30em;
    text-transform: uppercase;
    font-size: 1em;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 3vw 10vw;
	background: #444444;
}
.icons a {
	padding: 0.5vw;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}
#email {
	flex-grow: 1.5;
}
#button {
	flex-grow: 1;
}
#left {
	flex-shrink: 1.6;
	padding-right: 2px;
}
#middle ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	flex-direction: column;
	padding-right: 50px;
	padding-left: 50px;
}
#middle ul li {
	padding: 0.3em;
}
#middle a:hover {
	font-weight: 900;
}
